.navbar {
    font-size: 12px;
}

#comune {
    margin-top: 12px;
}
#comune h2 {
    font-size: 1.4em;
}
#comune h3 {
    font-size: 1.3em;
}
#comune h4 {
    font-size: 1.2em;
}
#comune p.lead {
    font-size: 1em;
}

/* lista comuni */
#listacomuni {
    margin-top: 48px;
}

/* FORM: Aggiungi Attivita */
#aggiungiattivita {
    margin-top: 24px;
}
#aggiungiattivita form {

}

/* Cards and Lists */
#comune .list-group-item {
    padding: 4px;
}

#comune .list-group-item h5 {
    font-size: 1em;
}

#comune .mb-1 {
    margin: 0;
    padding: 0;
}

#news {
    margin-top: 24px;
}

/* General Text Styles */
.maiuscola {
    text-transform: capitalize;
}

.titolo-uno {
    font-size: 1.0em;
}