html {
    position: relative;
    min-height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
}

p.lead {
    font-style: italic;
    text-align: center;
    color: #999;
}

p.home-lead-uno {
    text-align: center;
    font-size: 1.4em;
}

h2.lead {
    text-align: center;
    color: #999;
    font-size: 1.2em;
}

/* Layout */
.dist-16 {
    margin-top: 16px;
}
.dist-32 {
    margin-top: 32px;
}

.green {
    font-size: 1.4em;
    font-weight: 600;
    color: #5fa351;
    border-bottom: 1px solid #eee;
}

h2.secondary-title {
    font-size: 1.4em;
    font-weight: 600;
}

.maiuscola {
    text-transform: capitalize;
}

/* Headerone */
#header {
    background: #005689;
    height: 120px;
    text-align: center;
}
#logo {
    padding-top: 24px;
}

#subheader {
    background: #dfdfdf;
}

#subheader nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    padding-top: 8px;
}
#subheader nav li {
    font-size: 1.0em;
    border-bottom: 1px solid #888;
}

#subheader nav a {
    text-decoration: none;
    color: #000;
    display: block;
    transition: .3s background-color;
}

#subheader nav a:hover {
    background-color: #005689;
    color: #fff;
}

#subheader nav a.active {
    background-color: #fff;
    color: #444;
    cursor: default;
}

@media screen and (min-width: 600px) {
    #subheader nav li {
        width: 120px;
        border-bottom: none;
        font-size: 1.0em;
    }

    /* Option 1 - Display Inline */
    #subheader nav li {
        display: inline-block;
        margin-right: -4px;
    }

    /* Options 2 - Float
    .nav li {
      float: left;
    }
    .nav ul {
      overflow: auto;
      width: 600px;
      margin: 0 auto;
    }
    .nav {
      background-color: #444;
    }
    */
}

/* Homepage */
#home {

}
#home ul {
    margin: 0;
    padding: 0;
}
#home li {
    list-style: none;
    margin: 0;
    font-size: 0.9em;
}

/* All News */
#news {

}

/* Comune Singolo */
#comunesingolo {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 8px;
}

#comunesingolo table {
    table-layout: fixed;
}

#comunesingolo h2 {
    font-size: 1.4em;
    font-weight: bold;
}

#comunesingolo h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #005689;
    border-bottom: 1px solid #eee;
    margin-top: 18px;
    margin-bottom: 6px;
}

#comunesingolo h4 {
    font-size: 1.2em;
    font-weight: 600;
    color: #444;
    margin: 0;
}

#comunesingolo p {
    margin-bottom: 0;
}

span.datacontent {
    /* dovrei fare qualcosa qui */
}

/* Generici */
.titolino {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    border-bottom: 1px solid #eee;
}

.titolo-uno {
    font-size: 1.2em;
    font-weight: 600;
    color: #005689;
    border-bottom: 1px solid #eee;
}

.titolo-due {
    font-size: 1.3em;
    font-weight: 600;
    color: #444;
}

.infobox {
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    background: #eee;
}

/* Errori */
span.errore {
    color: #ff0000;
}

/* Horizontal Rules */
hr.hrstyle1 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/* Skeleton Override */
.button-green {
    color: #FFF;
    background-color: #5fa351;
    border-color: #70be4f;
}

/* Sticky Footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    color: white;
    background-color: #5fa351;
}
.footer a {
    color: #fff;
}
.footer h6 {
    margin: 0;
}
.footer .footer-slogan {
    font-style: italic;
}
.footer ul {
    margin: 0;
    list-style: none;
}
.footer li {
    margin: 0;
    font-size: 0.8em;
}

/* Custom dropdown */
.custom-dropdown {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.custom-dropdown select {
    background-color: #5fa351;
    color: #fff;
    font-size: inherit;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    text-indent: 0.01px;
    text-overflow: '';
    -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
    content: "\25BC";
    height: 1em;
    font-size: .625em;
    line-height: 1;
    right: 1.2em;
    top: 50%;
    margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
    width: 2em;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
    color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
    color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
    background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
    color: rgba(0,0,0,.4);
}