{{!< layout}}

<div id="aggiungiattivita">
    <h2>Aggiungi la tua attività su Comune Online gratuitamente</h2>

    <div class="row">
        <div class="twelve columns">
            <p>Sei un gestore di locale, un professionista, un titolare di azienda che opera in uno specifico comune?<br />
                Compila il modulo ed entra nella directory di Comune Online.
            </p>
            <p>Il servizio è completamente gratuito e offrirà visibilità alla tua attività.</p>

            <form method="post" action="/aggiungi-attivita">
                <div class="row">
                    <div class="col-md-9">
                        <div class="form-group">
                            <label for="nome">Nome locale o attività</label>
                            <input id="nome" type="text" name="input_nome" class="form-control" />

                            <label for="indirizzo">Indirizzo</label>
                            <input id="indirizzo" type="text" name="input_indirizzo" class="form-control" />

                            <label for="comune">Comune</label>
                            <input id="comune" type="text" name="input_comune" class="form-control" />

                            <label for="telefono">Telefono</label>
                            <input id="telefono" type="text" name="input_telefono" class="form-control" />

                            <label for="descrizione">Inserisci una breve descrizione del tuo locale o attività</label>
                            <textarea id="descrizione" name="input_descrizione" class="form-control"></textarea>
                            <small id="descrizioneHelp" class="form-text text-muted">Qui puoi inserire anche ulteriori informazioni su come contattarti, come sito web, email.</small>
                        </div>

                        <input class="btn btn-primary" type="submit" value="Invia modulo">
                    </div>
                </div>

                <div class="col-md-3">

                </div>
            </form>
        </div>
    </div>
</div>
