{{!< layout}}

    <div id="news">

        <h2 class="lead">Tutte le news ufficiali da tutti i Comuni Italiani</h2>

        <div class="row">
            <div class="twelve columns">
                <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Comune</th>
                        <th>Titolo</th>
                    </tr>
                </thead>
                <tbody>
                {{#each news}}
                    <tr>
                        <td>data</td>
                        <td>{{this.comune}}</td>
                        <td><a href="{{this.link}}" target="_blank">{{this.title}}</a></td>
                    </tr>
                {{/each}}
                </tbody>
                </table>
            </div>
        </div>

    </div>