{{!< bs-layout}}

<div id="comune">

    <div class="row">

        <div class="col-md-12">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Comune Online</a></li>
                <li class="breadcrumb-item active">Comune di <span class="maiuscola">{{comune.nome}}</span></li>
            </ol>
        </div>

        <div class="col-md-12">
            <div class="jumbotron">
                <h2>Comune di <span class="maiuscola">{{comune.nome}}</span></h2>
                <p class="lead">Benvenuti nella pagina del Comune di <span class="maiuscola">{{comune.nome}}</span>. Puoi trovare tutte le informazioni che cerchi riguardanti il comune come dati demografici, statistici, codici, numeri di telefono del comune, posta elettronica, PEC, prefissi, mappe, atti amministrativi, delibere, determinazioni comunali e molto altro.</p>
            </div>
        </div>

        <div class="col-md-12">
            <h2>Introduzione</h2>
            <p>{{comune.info_intro}}</p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Informazioni geografiche
                </div>
                <div class="card-block">
                    <div class="list-group">

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Regione</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_regione}}</span></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Provincia</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_provincia}}</span></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Sigla</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_sigla}}</span></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Mappa</h5>
                            </div>
                            <p class="mb-1"><a href="/comune-di-{{comune.slug}}/mappa" target="_blank">Apri mappa</a></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Popolazione Residente</h5>
                            </div>
                            <p class="mb-1">{{comune.info_popolazioneresidente}}</p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Denominazione Abitanti</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_denominazioneabitanti}}</span></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Superficie</h5>
                            </div>
                            <p class="mb-1">{{comune.info_superficie}}</p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Festa Patronale</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_festapatronale}}</span></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Santo Patrono</h5>
                            </div>
                            <p class="mb-1"><span class="maiuscola">{{comune.info_santopatrono}}</span></p>
                        </li>

                    </div>
                </div>
            </div>


        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Contatta il comune di <span class="maiuscola">{{comune.nome}}</span>
                </div>
                <div class="card-block">
                    {{#if comune.info_telefono1}}
                    <h4 class="card-title">Numero di telefono</h4>
                    <button class="btn btn-primary btn-block">{{comune.info_telefono1}}</button>
                    {{/if}}

                    {{#if comune.info_email}}
                    <h4>Posta elettronica</h4>
                    <a class="btn btn-primary btn-block" href="/comune-di-{{comune.slug}}/email">{{comune.info_email}}</a>
                    {{/if}}

                    {{#if comune.info_pec}}
                    <h4>PEC - Posta Elettronica Certificata</h4>
                    <a class="btn btn-primary btn-block" href="/comune-di-{{comune.slug}}/email">{{comune.info_pec}}</a>
                    {{/if}}

                    {{#if comune.info_web}}
                    <h4>Sito web del comune</h4>
                    <a class="btn btn-primary btn-block" href="{{comune.info_web}}" target="_blank">{{comune.info_web}}</a>
                    {{/if}}

                    {{#if comune.info_wikipedia}}
                    <h4>Pagina Wikipedia</h4>
                    <a class="btn btn-primary btn-block" href="{{comune.info_wikipedia}}" target="_blank">{{comune.info_wikipedia}}</a>
                    {{/if}}

                    <h4>Albo pretorio</h4>
                    <a class="btn btn-primary btn-block" href="/comune-di-{{comune.slug}}/albo-pretorio">Apri Albo Pretorio</a>

                    <h4>Concorsi pubblici</h4>
                    <a class="btn btn-primary btn-block" href="/comune-di-{{comune.slug}}/concorsi">Apri Concorsi Pubblici</a>
                </div>
            </div>
        </div>

    </div>


    <div class="row" style="margin-top: 12px;">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Prefisso e Codici
                </div>
                <div class="card-block">
                    <div class="list-group">

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Prefisso Telefonico</h5>
                            </div>
                            <p class="mb-1"><a href="/prefisso-telefonico-{{comune.slug}}">{{comune.info_prefissotelefonico}}</a></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">CAP - Codice di Avviamento Postale</h5>
                            </div>
                            <p class="mb-1">{{comune.info_cap}}</a></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Codice ISTAT</h5>
                            </div>
                            <p class="mb-1">{{comune.info_codiceistat}}</a></p>
                        </li>

                        <li class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">Codice Catastale</h5>
                            </div>
                            <p class="mb-1">{{comune.info_codicecatastale}}</a></p>
                        </li>

                    </div>
                </div>
            </div>
        </div>



        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    La Città
                </div>
                <div class="card-block">
                    <div class="list-group">
                        <a href="/ristoranti-{{comune.slug}}" class="list-group-item list-group-item-action">Ristoranti e Pizzerie</a>
                        <a href="/fotografie-{{comune.slug}}" class="list-group-item list-group-item-action">Fotografie</a>
                        <a href="/news/{{comune.slug}}" class="list-group-item list-group-item-action">Articoli</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- Commenti Disqus -->
    <div class="row" style="margin-top: 24px;">
        <div class="col-md-12">
            <h3><i class="fa fa-comment-o" aria-hidden="true"></i> Commenti</h3>
            <p>Invia il tuo commento su questo comune, sulla tua esperienza di quando hai visitato gli uffici e tutto quello che reputi interessante da condividere.</p>

            <div id="disqus_thread"></div>
            <script>
                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//comuneonline.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </div>
    </div>

</div>