{{!< bs-layout}}

<div id="home">

    <div style="margin-top: 48px;">
        <h2>
            Comune Online
            <small class="text-muted">Il tuo comune a portata di clic</small>
        </h2>
        <p>Comune Online è un portale ricco di informazioni su ogni singolo comune italiano.</p>
    </div>

    <div class="row" style="margin-top: 48px;">
        <div class="col-md-4">
            <h3 class="titolo-uno">Comuni più cliccati</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="/comune-di-roma">Comune di Roma</a></li>
                <li class="list-group-item"><a href="/comune-di-milano">Comune di Milano</a></li>
                <li class="list-group-item"><a href="/comune-di-firenze">Comune di Firenze</a></li>
                <li class="list-group-item"><a href="/comune-di-napoli">Comune di Napoli</a></li>
                <li class="list-group-item"><a href="/comune-di-torino">Comune di Torino</a></li>
                <li class="list-group-item"><a href="/comune-di-venezia">Comune di Venezia</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="titolo-uno">Comuni con più abitanti</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="/comune-di-roma">Comune di Roma</a></li>
                <li class="list-group-item"><a href="/comune-di-milano">Comune di Milano</a></li>
                <li class="list-group-item"><a href="/comune-di-napoli">Comune di Napoli</a></li>
                <li class="list-group-item"><a href="/comune-di-torino">Comune di Torino</a></li>
                <li class="list-group-item"><a href="/comune-di-palermo">Comune di Palermo</a></li>
                <li class="list-group-item"><a href="/comune-di-genova">Comune di Genova</a></li>
            </ul>
        </div>

        <div class="col-md-4">
            <h3 class="titolo-uno">Comuni più grandi</h3>
            <ul class="list-group">
                <li class="list-group-item"><a href="/comune-di-roma">Comune di Roma</a></li>
                <li class="list-group-item"><a href="/comune-di-ravenna">Comune di Ravenna</a></li>
                <li class="list-group-item"><a href="/comune-di-cerignola">Comune di Cerignola</a></li>
                <li class="list-group-item"><a href="/comune-di-noto">Comune di Noto</a></li>
                <li class="list-group-item"><a href="/comune-di-sassari">Comune di Sassari</a></li>
                <li class="list-group-item"><a href="/comune-di-monreale">Comune di Monreale</a></li>
            </ul>
        </div>
    </div>

    <div class="row" style="margin-top: 24px;">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Un comune a caso
                </div>
                <div class="card-block">
                    <h4 class="card-title">{{randomComune.nome}}</h4>
                    <p class="card-text">Informazioni geografiche, culturali, statistiche e contatti. Collegamenti al sito del comune, l'Albo Pretorio, attività commerciali, mappe e molto altro.</p>
                    <a href="/comune-di-{{randomComune.slug}}" class="btn btn-primary">Visualizza comune</a>
                </div>
            </div>
        </div>

    </div>

</div>