{{!< layout}}

    <div id="comunesingolo">

        <div class="row">
            <div class="twelve columns">

                <h2>Comune di <span class="maiuscola">{{comune.nome}}</span></h2>
                <p>Benvenuti nella pagina del Comune di <span class="maiuscola">{{comune.nome}}</span>. Puoi trovare tutte le informazioni che cerchi riguardanti il comune come dati demografici, statistici, codici, numeri di telefono del comune, posta elettronica, PEC, prefissi, mappe, atti amministrativi, delibere, determinazioni comunali e molto altro.</p>

                <hr class="hrstyle1" />

            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h3>Introduzione</h3>
                <p>{{comune.info_intro}}</p>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> Contatti</h3>
                {{#if comune.info_telefono1}}
                <h4>Numero di telefono del comune</h4>
                <span class="datacontent">{{comune.info_telefono1}}</span>
                {{/if}}

                {{#if comune.info_email}}
                <h4>Email del comune</h4>
                <span class="datacontent"><a href="/comune-di-{{comune.slug}}/email">{{comune.info_email}}</a></span>
                {{/if}}

                {{#if comune.info_pec}}
                <h4>PEC (Posta Elettronica Certificata)</h4>
                <span class="datacontent"><a href="/comune-di-{{comune.slug}}/email">{{comune.info_pec}}</a></span>
                {{/if}}

                {{#if comune.info_web}}
                <h4>Sito web del comune</h4>
                <span class="datacontent"><a href="{{comune.info_web}}" target="_blank">{{comune.info_web}}</a></span>
                {{/if}}

                {{#if comune.info_wikipedia}}
                <h4>Pagina Wikipedia</h4>
                <span class="datacontent"><a href="{{comune.info_wikipedia}}" target="_blank">{{comune.info_wikipedia}}</a></span>
                {{/if}}

                <h4>Albo pretorio</h4>
                <span class="datacontent"><a href="/comune-di-{{comune.slug}}/albo-pretorio">Apri Albo Pretorio</a></span>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Codici</h3>
                <h4>Prefisso Telefonico</h4>
                <span class="datacontent"><a href="/prefisso-telefonico-{{comune.slug}}">{{comune.info_prefissotelefonico}}</a></span>

                <h4>Codice di Avviamento Postale (CAP)</h4>
                <span class="datacontent">{{comune.info_cap}}</span>

                <h4>Codice ISTAT</h4>
                <span class="datacontent">{{comune.info_codiceistat}}</span>

                <h4>Codice Catastale</h4>
                <span class="datacontent">{{comune.info_codicecatastale}}</span>
            </div>
        </div>



        <!-- Left Column -->
        <div class="row">
            <div class="twelve columns">

                <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni di base</h3>
                <h4>Informazioni geografiche</h4>
                <h4>Regione</h4>
                <span class="datacontent">{{comune.info_regione}}</span>

                <h4>Provincia</h4>
                <span class="datacontent">{{comune.info_provincia}}</span>

                <h4>Sigla</h4>
                <span class="datacontent">{{comune.info_sigla}}</span>

                <h4>Mappa</h4>
                <span class="datacontent"><a href="/comune-di-{{comune.slug}}/mappa" target="_blank">Apri mappa</a></span>

                <h4>Popolazione</h4>
                <h4>Popolazione Residente</h4>
                <span class="datacontent">{{comune.info_popolazioneresidente}}</span>

                <h4>Denominazione Abitanti</h4>
                <span class="datacontent">{{comune.info_denominazioneabitanti}}</span>

                <h4>Superficie</h4>
                <span class="datacontent">{{comune.info_superficie}}</span>

                <h3>Varie</h3>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Festa Patronale</td>
                        <td class="maiuscola">{{comune.info_festapatronale}}</td>
                    </tr>

                    <tr>
                        <td>Santo Patrono</td>
                        <td class="maiuscola">{{comune.info_santopatrono}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Right Column -->
        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-building-o" aria-hidden="true"></i> La Città</h3>
                <h4>Dove Mangiare - Ristoranti e Pizzerie</h4>
                <ul>
                    <li><a href="/ristoranti-{{comune.slug}}">Apri Ristoranti e Pizzerie di <span class="maiuscola">{{comune.nome}}</span></a></li>
                </ul>

                <h4>Multimedia, Gallerie fotografiche e video</h4>
                <ul>
                    <li><a href="/fotografie-{{comune.slug}}">Fotografie</a></li>
                </ul>

                <h4>Giornali, blog e news locali</h4>
                <ul>
                    {{#each comune.links_newsagencies}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>Musei</h4>
                <ul>
                    {{#each comune.info_musei}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>Teatri</h4>
                <ul>
                    {{#each comune.info_teatri}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>News</h4>
                <ul>
                    <a href="/news/{{comune.slug}}">Apri le news riguardanti il comune</a>
                </ul>
            </div>
        </div>

        <!-- Commenti Disqus -->
        <div class="row">
            <div class="twelve">
                <h3><i class="fa fa-comment-o" aria-hidden="true"></i> Commenti</h3>
                <h4>Invia il tuo commento su questo comune, sulla tua esperienza di quando hai visitato gli uffici e tutto quello che reputi interessante da condividere.</h4>

                <div id="disqus_thread"></div>
                <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//comuneonline.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>


    </div>