{{!< layout}}

    <div id="comunesingolo">

        <form action="/editcomune" method="post">

        <div class="row">
            <div class="twelve columns">

                <h2>Comune di <input type="text" value="{{comune.nome}}" name="nome"></h2>

                Slug: <input type="text" value="{{comune.slug}}" name="slug">

                <hr class="hrstyle1" />

                <h3>Introduzione</h3>
                <p><input type="text" value="{{comune.info_intro}}" name="info_intro" class="u-full-width"></p>

            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-envelope-o" aria-hidden="true"></i> Contatti</h3>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Numero di telefono del comune</td>
                        <td>
                            <input type="text" value="{{comune.info_telefono1}}" name="info_telefono1">
                        </td>
                    </tr>

                    <tr>
                        <td>Email del comune</td>
                        <td>
                            <input type="text" value="{{comune.info_email}}" name="info_email">
                        </td>
                    </tr>

                    <tr>
                        <td>PEC (Posta Elettronica Certificata)</td>
                        <td>
                            <input type="text" value="{{comune.info_pec}}" name="info_pec">
                        </td>
                    </tr>

                    <tr>
                        <td>Sito web del comune</td>
                        <td>
                            <input type="text" value="{{comune.info_web}}" name="info_web">
                        </td>
                    </tr>

                    <tr>
                        <td>Pagina Wikipedia</td>
                        <td>
                            <input type="text" value="{{comune.info_wikipedia}}" name="info_wikipedia">
                        </td>
                    </tr>

                    <tr>
                        <td>Albo pretorio</td>
                        <td><input type="text" value="{{comune.info_web_albopretorio}}" name="info_web_albopretorio">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-list-ol" aria-hidden="true"></i> Codici</h3>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Prefisso Telefonico</td>
                        <td>
                            <input type="text" value="{{comune.info_prefissotelefonico}}" name="info_prefissotelefonico">
                        </td>
                    </tr>

                    <tr>
                        <td>Codice di Avviamento Postale (CAP)</td>
                        <td><input type="text" value="{{comune.info_cap}}" name="info_cap">
                        </td>
                    </tr>

                    <tr>
                        <td>Codice ISTAT</td>
                        <td><input type="text" value="{{comune.info_codiceistat}}" name="info_codiceistat">
                        </td>
                    </tr>

                    <tr>
                        <td>Codice Catastale</td>
                        <td><input type="text" value="{{comune.info_codicecatastale}}" name="info_codicecatastale">
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>



        <!-- Left Column -->
        <div class="row">
            <div class="twelve columns">

                <h3><i class="fa fa-info-circle" aria-hidden="true"></i> Informazioni di base</h3>
                <h4>Informazioni geografiche</h4>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Regione</td>
                        <td>
                            <input type="text" value="{{comune.info_regione}}" name="info_regione">
                        </td>
                    </tr>
                    <tr>
                        <td>Provincia</td>
                        <td><input type="text" value="{{comune.info_provincia}}" name="info_provincia"></td>
                    </tr>

                    <tr>
                        <td>Sigla</td>
                        <td><input type="text" value="{{comune.info_sigla}}" name="info_sigla"></td>
                    </tr>

                    {{#if comune.info_mappa}}
                    <tr>
                        <td>Mappa</td>
                        <td><input type="text" value="{{comune.info_mappa}}" name="info_mappa"></td>
                    </tr>
                    {{/if}}
                    </tbody>
                </table>

                <h4>Popolazione</h4>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Popolazione Residente</td>
                        <td><input type="text" value="{{comune.info_popolazioneresidente}}" name="info_popolazioneresidente"></td>
                    </tr>

                    <tr>
                        <td>Denominazione Abitanti</td>
                        <td><input type="text" value="{{comune.info_denominazioneabitanti}}" name="info_denominazioneabitanti"></td>
                    </tr>

                    <tr>
                        <td>Superficie</td>
                        <td><input type="text" value="{{comune.info_superficie}}" name="info_superficie"></td>
                    </tr>
                    </tbody>
                </table>

                <h4>Varie</h4>
                <table class="u-full-width">
                    <tbody>
                    <tr>
                        <td>Festa Patronale</td>
                        <td><input type="text" value="{{comune.info_festapatronale}}" name="info_festapatronale"></td>
                    </tr>

                    <tr>
                        <td>Santo Patrono</td>
                        <td><input type="text" value="{{comune.info_santopatrono}}" name="info_santopatrono"></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- Right Column -->
        <div class="row">
            <div class="twelve columns">
                <h3><i class="fa fa-building-o" aria-hidden="true"></i> La Città</h3>
                <h4>Dove Mangiare - Ristoranti e Pizzerie</h4>
                <ul>
                    <li><a href="/ristoranti-{{comune.slug}}">Apri Ristoranti e Pizzerie di <span class="maiuscola">{{comune.nome}}</span></a></li>
                </ul>

                <h4>Multimedia, Gallerie fotografiche e video</h4>
                <ul>
                    <li><a href="/fotografie-{{comune.slug}}">Fotografie</a></li>
                </ul>

                <h4>Giornali, blog e news locali</h4>
                <ul>
                    {{#each comune.links_newsagencies}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>Musei</h4>
                <ul>
                    {{#each comune.info_musei}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>Teatri</h4>
                <ul>
                    {{#each comune.info_teatri}}
                    <li><a href="{{this.url}}" target="_blank">{{this.nome}}</a></li>
                    {{/each}}
                </ul>

                <h4>News</h4>
                <ul>
                    <a href="/news/{{comune.slug}}">Apri le news riguardanti il comune</a>
                </ul>
            </div>
        </div>

        <input type="submit" value="Edit">

        </form>

        <!-- Commenti Disqus -->
        <div class="row">
            <div class="twelve">
                <h3><i class="fa fa-comment-o" aria-hidden="true"></i> Commenti</h3>
                <h4>Invia il tuo commento su questo comune, sulla tua esperienza di quando hai visitato gli uffici e tutto quello che reputi interessante da condividere.</h4>

                <div id="disqus_thread"></div>
                <script>
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = '//comuneonline.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            </div>
        </div>


    </div>