{{!< layout}}

    <div id="pec">

        <div class="row">
            <div class="twelve columns">
                <h2>{{title}}</h2>
                <p>{{description}}</p>

                <hr class="hrstyle1" />

                {{#each comuni}}
                    {{#if this.info_pec}}
                    <h3 class="maiuscola">{{this.nome}}</h3>
                    <div class="infobox">{{this.info_pec}}</div>
                    {{/if}}
                {{/each}}
            </div>
        </div>

    </div>