{{!< layout}}

    <div id="ristoranti">

        <div class="row">
            <div class="twelve columns">
                <h2>{{title}}</h2>
                <p>{{description}}</p>

                <hr class="hrstyle1" />

                {{#each comuni}}
                <h3 class="maiuscola">{{this.nome}}</h3>
                <div class="infobox">{{this.info_pec}}</div>
                {{/each}}
            </div>
        </div>

    </div>