{{!< layout}}

    <div id="email">

        <div class="row">
            <div class="twelve columns">
                <h2>Posta Elettronica (Email) - Comune di <span class="maiuscola">{{comune.nome}}</span></h2>
                <h3>Indirizzo di Posta Elettronica principale</h3>
                <p>{{comune.info_email}}</p>
                <h3>Indirizzo di Posta Elettronica Certificata (PEC)</h3>
                <p>{{comune.info_pec}}</p>

                <p><a href="/comune-di-{{comune.slug}}">Vai alla pagina del Comune di <span class="maiuscola">{{comune.nome}}</span></a>.</p>
            </div>
        </div>
    </div>