{{!< layout}}

<div id="promuovi-ristorante">
    <h2>Promuovi il tuo locale o attività</h2>
</div>

<div class="row">
    <div class="twelve columns">
        <p>Sei un gestore di locale, un professionista, un titolare di azienda che opera in uno specifico comune? Inserisci il tuo locale o attività nella directory di Comune Online.</p>
        <p>Il servizio è completamente gratuito e offrirà visibilità alla tua attività, perché verrà mostrata nella lista associata al tuo comune.</p>
        <p>Compila il modulo e verrai incluso nel sito in pochissime ore!</p>

        <form id="promuoviristorante" method="post" action="/promuovi-ristorante">
            <div class="row">
                <div class="six columns">
                    <label for="nome">Nome locale o attività</label>
                    <input id="nome" type="text" name="input_nome" />

                    <label for="indirizzo">Indirizzo</label>
                    <input id="indirizzo" type="text" name="input_indirizzo" />

                    <label for="comune">Comune</label>
                    <input id="comune" type="text" name="input_comune" />

                    <label for="telefono">Telefono</label>
                    <input id="telefono" type="text" name="input_telefono" />

                    <label for="descrizione">Inserisci una breve descrizione del tuo locale o attività</label>
                    <textarea id="descrizione" class="u-full-width" name="input_descrizione"></textarea>

                    <input class="button-primary u-full-width" type="submit" value="Invia modulo">
                </div>
            </div>
        </form>
    </div>
</div>
