{{!< layout}}

    <div id="fotografie">

        <div class="row">
            <div class="twelve columns">
                <h2>Fotografie del Comune di <span class="maiuscola">{{comune}}</span></h2>
                <p>Raccolta del miglior materiale fotografico riguardante il comune e posti limitrofi di interesse.</p>

                <hr class="hrstyle1" />

                {{#each foto}}
                <h3>{{this.titolo}}</h3>
                <p>{{this.descrizione}}</p>
                <a href="/foto/{{this.slug}}">
                    <img src="{{this.percorso}}" width="600" />
                </a>
                {{/each}}
            </div>
        </div>
    </div>