{{!< layout}}

    <div id="fotografie">

        <div class="row">
            <div class="twelve columns">
                <h2>{{foto.titolo}}</h2>

                <img src="{{foto.percorso}}" width="800" />
            </div>
        </div>
    </div>