{{!< layout}}

    <div id="home">

    <h2 class="lead">Comune Online è un portale ricco di informazioni su ogni singolo comune italiano.</h2>

    <div class="row">
        <div class="two columns">
            &nbsp;
        </div>

        <form action="/cerca" method="get">
        <div class="six columns">
            <div id="searchbox">
                    <input type="text" class="u-full-width" placeholder="Cerca un comune" name="key" maxlength="24">
            </div>
        </div>

        <div class="two columns">
            <input type="submit" value="Cerca" class="u-full-width button-primary">
        </div>
        </form>

        <div class="two column">
        </div>
    </div>

    <hr class="hrstyle1" />

    <div class="row">
        <div class="four columns">
            <h3 class="titolo-uno">Comuni più cliccati</h3>
            <p>
            <ul>
                <li><a href="/comune-di-roma">Comune di Roma</a></li>
                <li><a href="/comune-di-milano">Comune di Milano</a></li>
                <li><a href="/comune-di-firenze">Comune di Firenze</a></li>
                <li><a href="/comune-di-napoli">Comune di Napoli</a></li>
                <li><a href="/comune-di-torino">Comune di Torino</a></li>
                <li><a href="/comune-di-venezia">Comune di Venezia</a></li>
            </ul>
            </p>
        </div>

        <div class="four columns">
            <h3 class="titolo-uno">Comuni con più abitanti</h3>
            <p>
            <ul>
                <li><a href="/comune-di-roma">Comune di Roma</a></li>
                <li><a href="/comune-di-milano">Comune di Milano</a></li>
                <li><a href="/comune-di-napoli">Comune di Napoli</a></li>
                <li><a href="/comune-di-torino">Comune di Torino</a></li>
                <li><a href="/comune-di-palermo">Comune di Palermo</a></li>
                <li><a href="/comune-di-genova">Comune di Genova</a></li>
            </ul>
            </p>
        </div>

        <div class="four columns">
            <h3 class="titolo-uno">Comuni più grandi</h3>
            <p>
            <ul>
                <li><a href="/comune-di-roma">Comune di Roma</a></li>
                <li><a href="/comune-di-ravenna">Comune di Ravenna</a></li>
                <li><a href="/comune-di-cerignola">Comune di Cerignola</a></li>
                <li><a href="/comune-di-noto">Comune di Noto</a></li>
                <li><a href="/comune-di-sassari">Comune di Sassari</a></li>
                <li><a href="/comune-di-monreale">Comune di Monreale</a></li>
            </ul>
            </p>
        </div>
    </div>

    </div>