{{!< layout}}

<div id="informazioni">

    <div class="row" style="margin-top: 48px;">
        <div class="col-md-12">
            <h2>Informazioni</h2>
            <p>Comune Online è un sito moderno, rapido e completamente gratuito contenente dati e curiosità su ogni singolo comune italiano.</p>
            <p>Ogni pagina di comune contiene moltissimi dati, le modalità di contatto per gli uffici del comune, gli atti e le pubblicazioni dell'Albo Pretorio, una mappa, informazioni su ristoranti, pub, locali e molto molto altro.</p>

            <h3>Usa Comune Online per farti conoscere</h3>
            <p>Puoi promuovere il tuo locale, il tuo pub, il tuo ristorante o pizzeria o qualunque altro tipo di attività pubblica su Comune Online, semplicemente compilando un modulo. Ci vogliono pochi secondi e questo garantirà una pubblicità gratuita alla tua attività.</p>
            <p><a href="/aggiungi-attivita">Compila il modulo</a></p>
        </div>
    </div>
</div>