<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{! Title Logic }}
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="Comune Online">

    <meta property="og:url" content="http://comune.online" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Comune Online" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="http://comune.online/public/images/logo.png" />
    <meta property="og:locale" content="it_IT" />

    <meta name="google-site-verification" content="CHs4LNDd_RJsBFbOkefHlEdh_F_mbbxm_g4DgUsiO9s" />
    <meta name="msvalidate.01" content="93B87BC65E7AE239B2A4542C686C43D9" />

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/public/css/sticky-footer-navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/jquery.cookiebar.css">
    <link href="/public/css/comuneonline.css" rel="stylesheet">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/"><img src="/public/images/logo4.png" height="40" /></a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/comuni">Elenco Comuni</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aggiungi-attivita">Aggiungi Attività</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/ricerca-prefisso-telefonico">Ricerca Prefisso</a>
            </li>
        </ul>
        <form action="/cerca" method="get" class="form-inline mt-2 mt-md-0">
            <input name="key" maxlength="24" class="form-control mr-sm-2" type="text" placeholder="Cerca un comune">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cerca</button>
        </form>
    </div>
</nav>

<!-- Begin page content -->
<div class="container">
    {{{content}}}
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">Comune Online</span> - <a href="/informazioni">Informazioni</a>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="/public/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/public/js/ie10-viewport-bug-workaround.js"></script>

<!-- Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2841430-57', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>
