{{!< layout}}

    <div id="mappa">

        <div class="row">
            <div class="twelve columns">
                <h2>Mappa - Comune di <span class="maiuscola">{{comune.nome}}</span></h2>
                <p>In questa pagina puoi visualizzare e navigare la mappa interattiva del comune scelto.</p>
                <p><a href="/comune-di-{{comune.slug}}">Vai alla pagina del Comune di <span class="maiuscola">{{comune.nome}}</span></a>.</p>
                <iframe
                        width="100%"
                        height="450"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBPspdUcTN3s_8PMnLRZB1bYjwGQ_olYfs
    &q={{comune.nome}}" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>