{{!< layout}}

    <div id="moduloinviato" style="margin-top: 48px;">
        <h2>Modulo Inviato</h2>
        <p>Valuteremo la tua richiesta e se positiva ti inseriremo subito nel database.</p>
        <p>Ti contatteremo se avremo bisogno di ulteriori informazioni!</p>
        <p><a href="/">Torna alla homepage</a></p>
    </div>

