{{!< layout}}

    <div id="newscomunesingola">

        <div class="row">
            <div class="twelve columns">

                <ul>
                {{#each news}}
                <li><a href="/news/{{comune}}/{{this.slug}}">{{this.titolo}}</a></li>
                {{/each}}
                </ul>

            </div>
        </div>
    </div>