{{!< layout}}

    <div id="newscomunesingola">

        <div class="row">
            <div class="twelve columns">
                <h2>{{item.titolo}}</h2>
                {{{item.testo}}}
            </div>
        </div>
    </div>