{{!< layout}}

    <div id="prefissotelefonico">

        <div class="row">
            <div class="twelve columns">
                <h2>Prefisso Telefonico <span class="maiuscola">{{comune.nome}}</span></h2>
                <p>Il prefisso di <span class="maiuscola">{{comune.nome}}</span> è <strong>{{comune.info_prefissotelefonico}}</strong>.</p>
            </div>
        </div>
    </div>