{{!< layout}}

    <div id="prefissotelefonico">

        <div class="row">
            <div class="twelve columns">
                <h2>Ricerca per Prefisso Telefonico</h2>
                <form action="/ricerca-prefisso-telefonico" method="post">
                    <label for="input_prefisso">Inserisci prefisso telefonico</label>
                    <input id="input_prefisso" type="text" name="prefisso" maxlength="6">
                    <input type="submit" value="Cerca">
                </form>
            </div>
        </div>
    </div>