{{!< layout}}

    <div id="prefissotelefonico">

        <div class="row">
            <div class="twelve columns">
                <h2>Hai cercato il prefisso telefonico {{prefisso}}.</h2>
                <p>Il prefisso corrisponde ai seguenti comuni:</p>
                <ul>
                {{#each comuni}}
                    <li><span class="maiuscola"></span>{{this.nome}}</li>
                {{/each}}
                </ul>
            </div>
        </div>
    </div>