{{!< layout}}

    <div id="ristorante">

        <div class="row">
            <div class="twelve columns">
                <h2>{{ristorante.nome}}</h2>
                <p>{{ristorante.descrizione}}</p>

                <h3>Indirizzo</h3>
                <p>{{ristorante.indirizzo}}</p>

                <h3>Contatti</h3>
                <p><strong>Telefono</strong> {{ristorante.telefono}}</p>
            </div>
        </div>
    </div>