{{!< layout}}

    <div id="ristoranti">

        <div class="row">
            <div class="twelve columns">
                <h2>Ristoranti del Comune di <span class="maiuscola">{{comune}}</span></h2>
                <p>Elenco dei migliori ristoranti.</p>

                <hr class="hrstyle1" />

                {{#each ristoranti}}
                <h3>{{this.nome}}</h3>
                <p>{{this.descrizione}}</p>
                <a href="/ristorante/{{this.slug}}">
                    Maggiori informazioni
                </a>
                <hr class="hrstyle1" />
                {{/each}}
            </div>
        </div>

        <div class="row">
            <div class="infobox">
                <a href="/promuovi-ristorante">Promuovi il tuo ristorante gratuitamente su Comune Online</a>
            </div>
        </div>
    </div>