{{!< layout}}

<div id="risultatiricerca" style="margin-top: 48px;">
    <h2 class="titolo-due">Risultati di ricerca</h2>

    <table class="u-full-width">
        <thead>
        <tr>
            <th>Nome comune</th>
        </tr>
        </thead>
        <tbody>
        {{#each comuni}}
        <tr>
            <td><a href="/comune-di-{{this.slug}}">{{this.nome}}</a></td>
        </tr>
        {{/each}}
        </tbody>
    </table>
</div>