<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow">

    {{! Title Logic }}
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="Comune Online">

    <meta property="og:url" content="http://comune.online" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Comune Online" />
    <meta property="og:description" content="{{description}}" />
    <meta property="og:image" content="http://comune.online/public/images/logo.png" />
    <meta property="og:locale" content="it_IT" />

    <meta name="google-site-verification" content="CHs4LNDd_RJsBFbOkefHlEdh_F_mbbxm_g4DgUsiO9s" />
    <meta name="msvalidate.01" content="93B87BC65E7AE239B2A4542C686C43D9" />

    <!-- Stylesheets and scripts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/skeleton.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/jquery.cookiebar.css">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/public/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/public/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicons/favicon-16x16.png">
    <link rel="manifest" href="/public/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/public/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>
<body>
<div id="header">
    <div id="logo">
        <a href="/"><img src="/public/images/logo4.png" width="280" /></a>
        <h1 class="main-title" style="display: none;"><a href="/">Comune Online</a></h1>
    </div>
</div>
<div id="subheader">
    <div class="container">
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/comuni">Elenco Comuni</a></li>
            <li><a href="/elenco-pec">Elenco PEC</a></li>
            <li><a href="/ricerca-prefisso-telefonico">Ricerca Prefisso</a></li>
        </ul>
    </nav>
    </div>
</div>

<div class="container dist-32">
    {{{content}}}
</div>

<div class="footer">
    <div class="container">
        <div class="row dist-16">
            <div class="four columns">
                <h6>Comune Online</h6>
                <ul>
                    <li><a href="/informazioni">Informazioni</a></li>
                </ul>
            </div>

            <div class="four columns">
            </div>

            <div class="four columns">
            </div>
        </div>

        <div class="row dist-16">
            <div class="twelve columns">
                <strong>Comune Online</strong> -- <span class="footer-slogan">Il Portale del Comuni Italiani</span>
            </div>
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/public/js/jquery.cookiebar.js"></script>

<!-- Analytics -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2841430-57', 'auto');
    ga('send', 'pageview');

</script>


<!-- Sticky Footer -->
<script>
    $(document).ready(function() {
        var footerHeight = $('.footer').height()+30; // "+30" footer on to add space
        $('body').css('margin-bottom',footerHeight);
    });
</script>

<!-- Various Scripts -->
<script type="text/javascript">
    $(document).ready(function(){
        // Cookie consent
        $.cookieBar({
            message: 'Questo sito potrebbe usare i cookies per agevolare la consultazione',
            acceptText: 'Ho capito',
            effect: 'slide'
        });
    });
</script>

</body>
</html>